.post-form-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post-form-container h2 {
  margin-top: 0;
}

.post-form-container form div {
  margin-bottom: 10px;
}

.post-form-container form label {
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.post-form-container form textarea,
.post-form-container form input[type="number"],
.post-form-container form input[type="text"],
.post-form-container form input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 17px;
}

.post-form-container form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-form-container form button:hover {
  background-color: #0056b3;
}
